body {
    margin: 0;
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background: #eee;
}

.error {
    color: red;
}

.updateBar {
    margin: 0;
    padding: 0.625em;
    text-align: center;
    background: #555;
    color: #fff;
    line-height: 1.5em;
}

.updateBar a {
    color: lightskyblue;
    display: inline-block;
}

.mainHeader {
    border-bottom: 1px solid #bbb;
    padding: 1em;
    text-align: right;
}

.mainHeader h1 {
    float: left;
    color: #444;
    font-size: 1.5em;
    margin: 0;
    line-height: 1em;
}

.userLinks {
    display: inline-block;
}

.userLinks a {
    margin-left: 0.5em;
}

.mainBody {
    padding: 0 1em 1em;
}
