<h3>2. Scan this barcode with your app</h3>

<p class="error">{{error}}</p>

<load-contents [loading]="isLoading">
    <p>
        If you can't use a barcode, <button class="link" (click)="toggleSecret()">enter this text code</button>
        instead<span *ngIf="!showSecret">.</span><span *ngIf="showSecret">: {{secret.secret}}</span>
    </p>

    <form *ngIf="secret" ngNativeValidate (submit)="enableMfa()">
        <p class="smallImageContainer" [innerHTML]="qrCode"></p>
        <p>After scanning the barcode image, the app will display a six-digit code that you can enter below.</p>

        <div class="formSection">
            <label for="code-input">Enter the six-digit code from the application</label>
            <input id="code-input" type="text" inputmode="numeric" name="code" [(ngModel)]="code" placeholder="123456" required appAutofocus autocomplete="off"/>
        </div>

        <p>
            <button class="proceed" [ladda]="enablingMfa" data-spinner-color="#fff">Enable two-factor authentication</button>
            <a class="button" routerLink="../../">Cancel</a>
        </p>
    </form>
</load-contents>
