<header class="mainHeader">
    <h1>Phasem</h1>

    <div *ngIf="currentUser() | async" class="userLinks">
        {{(currentUser() | async).fullName}}
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/settings']">Settings</a>
        <a [routerLink]="['/logout']">Sign out</a>
    </div>

    <div *ngIf="!(currentUser() | async)" class="userLinks">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/register']">Register</a>
        <a [routerLink]="['/login']">Sign in</a>
    </div>
</header>

<div class="mainBody">
    <router-outlet></router-outlet>
</div>
